
<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-buttons slot="start" class="botonraya">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-card-header id="cabecera">
      <ion-card-title class="titulocabecera">Acerca de la Aplicacion</ion-card-title>

    </ion-card-header>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="about-app">
    <img src="../../assets/img/ADSI ✌🏻🤩 20230213_090949.jpg" alt="Avatar">
    <h1>SIOS</h1>
    <p>(Sistema de inventario y ordenes de servicio)</p>
    <p>Versión: 1.0.0</p>
    <p>Creador por: ADSI19</p>
    <p>Ficha: 2365135</p>
    <p>Descripción: Aplicacion desarrollada para el sector de metalmecanica en funcion de ordenes de servicio y su inventario.</p>
    <h2>Integrantes</h2>
    <ul>
      <li>Max Lozano</li>
      <li>Sebastian Garzon</li>
      <li>Sebastian Gomez</li>
      <li>Karol Diaz</li>
      <li>Carlos Cobo</li>
      <li>Carlos Acosta</li>
      <li>Cesar Lopez</li>
      <li>Mateo Hernandez</li>
      <li>Nixon Criollo</li>
      <li>Ana Mendoza</li>
      <li>Luis Solis</li>
    </ul>
  </div>
</ion-content>